{% block _interview_row %}
<div class="row">
    <div class="col-6">
        {{ form_row(form.date) }}
    </diV></br>
    <div class="col-6">
        {{ form_row(form.appreciation) }}
    </diV></br>
    <div class="col-6">
        {{ form_row(form.title) }}
    </diV></br>
    <div class="col-6">
        {{ form_row(form.theme) }}
    </diV></br>
    
{% endblock %}