{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
      {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
                <div class="text-center">
                 <button  class="btn btn-secondary ">
                 <a  href="{{ path('app_user_delete', {'id': user.id}) }}" class="btn btn-secondary ">
                 <b>Delete</b></a> </button>
                <button  class="btn btn-secondary ">
                 <a  href="{{ path('app_user_index') }}" class="btn btn-secondary ">
                 <b>Back</b></a> </button>
               </div>
{% endblock %}
  {% block stylesheets %}
 {{ parent() }}
 <link rel="stylesheet" href="/css/style_form.css">
{% endblock %}
